.menu {
  align-items: center;
  background: #fafafa;
  display: none;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
  padding-bottom: 90px;
  padding-top: 159px;
  position: absolute;
  right: 0;
  top: 0;
  width: 68%;
  z-index: 10;
  position: fixed;
}

.menu-left {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 2200px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 5;
}
.menu-left_none {
  display: none;
}

.menu_opened {
  display: flex;

}

.menu-btn {
  background-image: url(../../images/icon-close.svg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 29px;
  top: 29px;
  border: none;
}

.navigate-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.menu-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
}

.menu-link:hover {
  border-bottom: 2px solid #000;
}

.menu-btn-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  margin: 0;
  background: none;
  border: none;
  gap: 17px;
  padding: 0;
  cursor: pointer;
}

.menu-btn-account-img {
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(249, 249, 249, 1);
  width: 26px;
  height: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 450px) {
  .menu {
    padding-top: 144px;
    padding-bottom: 46px;
    width: 100%;
  }

  .menu-btn {
    top: 29.16px;
    right: 29.16px;
  }
  .navigate__menu {
    gap: 24px;
  }

    .menu-left {
      background: rgba(0, 0, 0, 1);
      width: 100%;
      height: 5000px;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      z-index: 5;
    }
  }

  @media screen and (max-width: 450px) {
    .navigate-menu{
      gap: 24px;
    }

    .menu-btn {
    top: 18.16px;
    right: 44.16px;
  }
  .menu-btn-account{
    padding-bottom: 100px;
  }
}