.promo {
  background-color: rgba(243, 193, 248, 1);
  background-image: url(../../images/pic__COLOR_landing-logo.png) ;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  margin: 0 auto;
  padding: 160px 0 151px;
  max-width: 730px;
}

@media screen and (max-width: 900px) {
  .promo {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .promo__text {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    margin: 0 auto;
    max-width: 680px;
    padding: 350px 0 314px;
  }
}

@media screen and (max-width: 620px) {
  .promo__text {
    font-size: 29px;
    line-height: 37px;
    padding: 220px 0 212px;
    letter-spacing: -0.03em;
  }
}

@media screen and (max-width: 450px) {
  .promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
