.header__navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 32px;
}
.header__navigate:hover {
  cursor: pointer;
}

.header__navigate-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding-left: 50px;
  text-decoration: none;
  color: #000;
}

.header__navigate-img {
  background-image: url(../../images/icon-user.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f9f9f9;
  width: 26px;
  height: 26px;
}
