.project-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  margin: 0;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .project-title {

    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;

  }
}

@media screen and (max-width: 620px) {
  .project-title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 450px) {
  .project-title {
    padding-top: 70px;
    padding-bottom: 28px;
    width: 100%;
  }
}