.checkbox {
  display: flex;
  gap: 14px;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 31px;
}



.checkbox__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 34px;
  height: 14px;
  cursor: inherit;
  background: #2be080;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
  transition: 0.5s ease;
}

.checkbox__btn-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 30px;
}

.checkbox__btn:checked {
  background: #2be080;
}

.checkbox__btn:before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s ease;
}

.checkbox__btn:checked::before {
  left: 20px;
}

@media screen and (max-width: 768px) {
  .checkbox {
    margin-left: 21px;
    gap: 15px;
  }

  .checkbox__btn-text {
    margin-right: 20px;
  }

}

@media screen and (max-width: 450px) {

  .checkbox__btn-text {

    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

  }
}