  .header__main {
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(243, 193, 248, 1);
 }

  .header__main_logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px;
  }

  .header__main_logo:hover {
    opacity: 0.8;
    transition: opacity linear 0.3s;
  }

  .header__main_link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__main_link-element {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 20px;
    border-radius: 3px;
  }

  .header__main_link-element:nth-of-type(2) {
    background-color: #000;
    color: #fff;
  }

  @media screen and (max-width: 900px) {
    .header__main {
      padding: 0 50px;
    }
  }

  @media screen and (max-width: 768px) {
    .header__main {
      padding: 0 30px;
    }
  }

  @media screen and (max-width: 620px) {
    .header__main_link {
      gap: 0;
    }
    .header__main_link-element {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    .header__main {
      padding: 0 14px;
    }
    .header__main_link-element {
      font-size: 10px;
      padding: 5px 12px;
      border-radius: 3px;
    }
  }
