.nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  width: 100%;

}

.nav__list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
}

.nav__list-item {
  text-decoration:none;
}

.nav__link {
  color:  white;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
}


@media screen and (max-width: 620px) {
  .nav__list {
    gap: 6px;
  }
  .nav__link {
    font-size: 10px;
  }
  .nav__list-item {

    border-radius: 8px;
    padding: 5px 20px;
  }
}
